.card {
  position: relative;
  width: 300px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img {
  width: inherit;
  border-radius: 10px;
}

.download{
    position:absolute;
    bottom:8%;
    right:7%;
    padding:10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    /* display: none; /
}

.likes{
    position:absolute;
    bottom:8%;
    left:7%;
    padding:10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    / display: none; */
}
button:hover {
  background-color: rgb(206, 206, 206);
  color: black;
}

.card:hover button {
  display: block;
}